@mixin trans($desc){
   transition: $desc;
   -webkit-transition: $desc;
   -moz-transition: $desc;
   -ms-transition: $desc;
   -o-transition: $desc;
}

$gray : #666;

html {
	width: 100%!important;
	height: 100%!important;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: #c8c8c8;
	width: 100%!important;
	height: 100%!important;
	overflow: hidden;
	font-family: 'Microsoft Yahei';
}
app, toolbar, control, playground {
	display: block;
}

.clearfix:after{
	display: table;
	height: 0;
	visibility: hidden;
	content: " ";
	clear: both;
}
app {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 970px;
	display: block;
	font-family: "Microsoft Yahei";
	
	> toolbar {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 32px;
		line-height: 32px;
		background: #eee;

		a.menu-item {
			width: 80px;
			text-align: center;
			cursor: pointer;
			background: #eee;
			display: inline-block;

			transition: all ease-in-out .3s;
			-webkit-transition: all ease-in-out .3s;
			-o-transition: all ease-in-out .3s;
			-ms-transition: all ease-in-out .3s;

			&:hover {
				background: darken(#eee, 10%);
				font-weight: bold;
			}
		}
	}

	> view {
		position: absolute;
		left:0;top:0;
		width: 100%;
		min-width: 960px;
		height: 100%;
	
		control, playground {
			padding-top: 32px;
			height: 100%;
			box-sizing: border-box;
			background: #eee;
		}


		> control {
			float: left;
			width: 25%;
			border-right: 1px solid #666;
			background: #999;


			.accordion {
				margin: 0;
				padding: 0;
				list-style-type: none;
				.accordion-item {
					background: $gray;
					text-align: center;
					line-height: 36px;
					border-bottom: 1px solid #222;
					box-shadow: 0 0 3px #000;
					color: #fff;
					cursor:pointer;
					@include trans(all ease-in-out .6s);

					&:hover {

						background: darken($gray, 14%);

						.accordion-title {
							color: #aaff00;
						}
						.accordion-container {
							height:auto;
						}
					}
					

					.accordion-title {
						margin:0;
						padding:0;

						.dir-icon {
							float:right;
							margin-right: 4px;
							height: 36px;
							line-height: 36px;
						}
					}

					.accordion-container {
						@include trans(all ease-in-out 1s);
						background: #e5e5e5;
						height: 0;
						overflow: hidden;
					}
				}
			}
		}

		> playground {
			float: left;
			width: 75%;
			overflow-y: auto;
			background: #222;

			> ul {
				margin: 0;
				padding: 0;
				list-style: none;

				> li {
					background: #ccc;
					cursor: pointer;
					text-align: center;
					overflow: hidden;
					border: 1px dotted #fff;
				}
			}
		}
	}
} 